@font-face {
    font-family: 'Lucida Grande-hyy0591';
    src: url('/fonts/lucida-grande/lucida-grande-bold.eot');
    src: url('/fonts/lucida-grande/lucida-grande-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lucida-grande/lucida-grande-bold.woff') format('woff'),
         url('/fonts/lucida-grande/lucida-grande-bold.ttf') format('truetype'),
         url('/fonts/lucida-grande/lucida-grande-bold.svg#lucida_grandebold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Lucida Grande-hyy0591';
    src: url('/fonts/lucida-grande/lucida-grande.eot');
    src: url('/fonts/lucida-grande/lucida-grande.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lucida-grande/lucida-grande.woff') format('woff'),
         url('/fonts/lucida-grande/lucida-grande.ttf') format('truetype'),
         url('/fonts/lucida-grande/lucida-grande.svg#lucida_granderegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
